.education {
    padding: 40px;
    text-align: left;
}

.education h3 {
    padding-bottom: 10px;
    font-family: "Playfair Display", serif;
}

.education ul {
    text-align: justify;
    padding-left: 40px;
}

.education li {
    padding-bottom: 8px;
}
