.journals {
    padding: 30px;
    text-align: justify;
}

.journals h3 {
    padding-bottom: 10px;
    font-family: "Playfair Display", serif;
}

.journals p,
h6 {
    margin: 0;
    margin-bottom: 5px;
}

.journals li {
    padding: 5px;
    text-align: left;
}

.journal-author {
    font-family: "IBM Plex Mono", monospace;
}

.journal-title {
    font-family: "Newsreader", serif;
    text-decoration: none;
}

.journal-volume {
    font-family: "IBM Plex Mono", monospace;
}

.journal-status {
    color: #bbb;
}
